body {
    background-color: #d6d4d4;
}

/* コンテナ */
.container {
    max-width: 600px;
    margin-top: 110px;
}

/* フォーム */
.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.alert {
    font-size: 14px;
}

/* ヘッダー */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #000000;
}

.header_logo img {
    max-width: 100px;
    height: auto;
}

.header_btn {
    margin-left: 30px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.user-actions a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    background-color: #555;
    border-radius: 5px;
}

.user-actions a:hover {
    background-color: #777;
}

/* 検索ボックス */
.search-box-container {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    flex-direction: column;
    align-items: center;
}

.search-box {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
}

.search-box input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 100%;
}

.search-box button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #555;
}

/* カテゴリーリンクの画像 */
.category-slider {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.category-slider img {
    width: 100%;
    margin-right: 10px;
    object-fit: cover;
}

/* レイアウト */
.main-container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

/* カテゴリーフレーム */
.category-frame {
    background-color: #f4f4f4;
    width: 20%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.category-frame h2 {
    font-size: 18px;
    margin-top: 0;
}

.category-frame ul {
    list-style: none;
    padding: 0;
}

.category-frame ul li {
    margin-bottom: 10px;
}

.category-frame ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.category-frame ul li a:hover {
    text-decoration: underline;
}

/* 商品一覧 */
.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
}

.product-item {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    border: 1px solid #ddd;
    text-decoration: none;
    color: inherit;
}

.product-item a {
    display: flex;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.product-item .product-image {
    flex-shrink: 0;
    margin-right: 20px;
}

.product-item .product-image img {
    max-width: 250px;
    height: auto;
}

.product-item .product-info {
    flex: 1;
    text-align: left;
}

.product-item .product-info h3 {
    margin-top: 0;
}

.product-item .product-info p {
    margin-bottom: 10px;
}

/* 入札フォーム */
.product-item .bid-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-item .bid-form input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    margin-bottom: 10px;
}

.product-item .bid-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.product-item .bid-form button:hover {
    background-color: #555;
}

/* フッター */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

footer a:hover {
    text-decoration: underline;
}

/*カテゴリースライド*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1
    }

    to {
        opacity: 1
    }
}
